* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popUpRow {
    border: red solid 1px;
    display: flex;
    justify-content: center;
}

.popUp {
    
    margin: 200px 0 0 0;
    width: 675px;
    height: 745px;
    background-color: #EBD7A6;
    border-radius: 40px;
    box-sizing: border-box;
}

.col-width {
    width: 200px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#calendar {
    border-radius: 40px;
    padding: 16px 30px;
    margin-bottom: 20px; 
    width: 200px;
    height: 60px;
    background-color: white;
}

.round-icon {
    background-color: white;
    border-radius: 90px;
    margin-bottom: 20px;
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#triangle {
    margin-top: 5px;
}

.check {
    height: 25px;
    width: 25px;
}

.form-row {
    width: 675px;
    padding: 30px 30px 0px 30px;
}

#task-information {
    margin-top: -30px;
    margin-left: 5px;
    width: 615px;
    height: 450px;
    border: none;
}

.form-input {
    border-radius: 40px;
    padding: 16px 30px;
    margin-bottom: 20px; 
    border: none;
    width: 97%;
    height: 60px;
}

.button {
    position: center;
    background-color: white;
    color: #434343;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
    padding: 16px 14px;
    margin: 0px 450px 30px 0px;
    border-radius: 40px;
    width: 190px;
    height: 60px;
}